*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

/* css del cuerpo y color de fondo */

body{
  min-height: calc(100vh - 0.1rem);
  margin: 0;
  background: radial-gradient(ellipse at center, #6479f5 20%, #0a081b 90%);   
  font-family: "Archivo Black", sans-serif;
}

.title{
  color: white;
}

/* para la imagen de fondo */

#fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;

  }
 
img{
  width: 50%;
  height: 50%;
  position: relative;
  z-index: -1;
}