*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

/* css del cuerpo y color de fondo */

body{
  min-height: calc(100vh - 2rem);
  margin: 0;
  background: radial-gradient(ellipse at center, #6479f5 20%, #0a081b 90%);   
  font-family: "Archivo Black", sans-serif;
  position: relative;
}

.title{
  color: white;
  white-space: nowrap;
}

/* para la imagen de fondo */


  img{
      position: fixed;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      z-index: -1;
      }  
  
/* centro el titulo y los imputs */

#info-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

  /* seccion de los input y boton de buscar */

  .buscador-btn{
    width: 2rem;
    height: 2rem;
  }

