*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

/* css del cuerpo y color de fondo */

body{
  min-height: calc(100vh - 2rem);
  margin: 0;
  background: radial-gradient(ellipse at center, #6479f5 20%, #0a081b 90%);   
  font-family: "Archivo Black", sans-serif;
  position: relative;
}

.title{
  color: white;
  white-space: nowrap;
  text-shadow: 2px 2px 4px black
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.info{
  font-size: 2rem;
  color: #000000;
  justify-content: center;
  align-items: center
}
/* para la imagen de fondo */



  .font-img{
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: -1;
      }  
  
/* centro el titulo y los imputs */

#info-content{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;

}

/* al input */

input{
  color: #ffffff;
}
#buscador{
  height: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(24, 24, 24);
  padding: 0.5rem;
  color: #e5e7eb;
}

select{
  border-radius: 1rem;
  background-color: rgb(24, 24, 24);
  color: #ffffff;
  padding: 0.15rem;

}

/* seccion de paises */

.paises-img-info{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

#paises{

  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

#paises-container{
  max-width: 80rem;
  margin: 0 auto;
  width: 100%;
  gap: 1rem;
}

#paises-lista{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
  
}

.paises-item{
  background-color: #2727297b;
  border-radius: 0.5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease-in;
  backdrop-filter: blur(10px)
}

.paises-item:hover{
  transform: scale(1.04);
}

#paises-img{
  height: 50%;
}

#paises-info{
  padding: 1rem;
  color: #e5e7eb;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-shadow: 2px 2px 4px black;
  font-family: "Ubuntu Sans", sans-serif;
  }

/* para la seccion de informacion al darle click */

  .nombre-pais-info{
    font-size: 0;
    width: 0;
    height: 0;
  }
  .nombre-pais-title{
  width: 3rem;
  height: 3rem;
  }

.tiempo{
  display: flex;
  flex-direction: row;
}
  
  .paises-itemenes{
    background-color: #06c2007b;
    border-radius: 0.5rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: scale(1);
    transition: all 0.3s ease-in;
    backdrop-filter: blur(10px);
    margin-bottom: 3rem;
  }
  .paises-itemenes:hover{
    transform: scale(1.04);

  }  

#paises-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}


/* para el filtro buscador */
.filtro{
  display: none;
}


/* responsive */

  @media (min-width: 640px){
  .paises-item{
    width: 40%;
  }
  #paises-lista{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .paises-itemenes{
    width: 70%;
    flex-direction: row;
    height: 30rem;

  }}

  @media (min-width: 1024px){
    .paises-item{
      width: 20%;
    }

    #paises-lista{
      gap: 3rem;
    }

    }

    @media (min-width: 1440px){
    #buscador{
      height: 3rem;
      width: 20rem;
    }

      .paises-item{
        width: 30%;
        height: 20%;
      }
  
      #paises-lista{
        gap: 3rem;
      }

      }

      @media (min-width: 2560px){
        #buscador{
          height: 4rem;
          width: 20rem;
          font-size: 2rem;
        }
    
          .paises-item{
            width: 40%;
            height: 20%;
          }
      
          #paises-lista{
            gap: 3rem;
          }
      
          #info-content{
          font-size: 2rem;
          
          }

          select{
            height: 3rem;
            width: 13rem;
            font-size: 2rem;
          
          }
          .paises-itemenes{
            width: 100%;
            height: 80rem;
          }
          }